/*
    Disables the Electron :focus style.
*/
.glyphicon-button {
    padding: 0;
    color: black;
}
:focus,
:active:focus,
.active:focus,
.focus,
:active.focus,
.active.focus
{
    outline: none !important;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none !important;
}

/*
    The text window.
*/
#text-box {
    width: 95%;
    height: 460px;
    border: 3px red solid;
    padding: 12px;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
}

/*
    The panel that keeps open file tabs.
*/
#files-ribbon {
    width: 98%;
    height: 30px;
    border: 3px violet solid;
    vertical-align: middle;
}

/*
    Signals that a file tab is active - the one user is working with at the moment.
*/
.selected {
    border: 1px gold solid;
    background-color: aqua;
}

/*
    A file tab used for switching between open files, each tab represents a single file.
*/
.file-tab {
    height: 20px;
    margin-left: 5px;
    float: left;
    border: 1px black solid;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

