<style>
    body {
        font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
        color: #000000;
        text-align: left;
        font-size: 12px;
    }

    #close {
        color: white;
        opacity: 0.7;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        text-decoration: none;
    }

    /* Remove default bullets */
    ul, .treeview {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    .treeview {
        margin: 0;
        padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

    .filler {
        border: 5px solid red;
        width: 80%;
        height: 300px;
        position: center;
    }
</style>

<body class="index">
    <div class="container">
        <h1>General</h1>
        <div class="filler"></div>
    
        <h1>Editing</h1>
        <div class="filler"></div>
    
        <h1>New Document</h1>
        <div class="filler"></div>
    
        <h1>Default Directory</h1>
        <div class="filler"></div>
    
        <h1>Recent Files History</h1>
        <div class="filler"></div>
    
        <h1>Highlighting</h1>
        <div class="filler"></div>
    </div>
</body>

<footer class="footer">
    <div class="container">
        <button>Reset</button>
        <button>Save</button>
        <button>Cancel</button>
    </div>
</footer>

<a id="close" href="javascript:window.close()">Close this Window</a>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>