@using Components
@{
    ViewData["Title"] = MockFunctionality.GetMockFileName();
}

<link rel="stylesheet" href="~/css/index.css" />

<body class="index">
    <div class="container">
        <div id="textBox" contenteditable="true">
            <p>Lorem ipsum</p>
        </div>
    </div>
</body>

<footer class="footer">
    <div class="container">
        Current position: 1:1 <br />
        Character count: 0 Word count: 0
    </div>
</footer>

<!--
<div class="text-center">
    <button id="async-msg">Send an Async message</button>
    <p id="async-reply"></p>
</div>

<script>
    const { ipcRenderer } = require("electron");

    document.getElementById("async-msg").addEventListener("click", () => {
        ipcRenderer.send("async-msg", 'ping');
    });

    ipcRenderer.on('asynchronous-reply', (event, arg) => {
        const message = `Asynchronous message reply: ${arg}`;
        document.getElementById('async-reply').innerHTML = message;
    });
</script>
-->
