@page "/settings"
@using OurTextEditor.Component;
@using Components.Models;

<div class="sidebar">
    <SettingsMenu></SettingsMenu>
</div>

<div class="main">
    <div class="content px-4">
        <General />
    </div>
</div>

<footer class="footer">
    <div class="container">
        <button @onclick="ApplicationState.Instance.SettingsHandlerInstance.ResetSettings">Reset</button>
        <button @onclick="ApplicationState.Instance.SettingsHandlerInstance.SaveSettingsToDisc">Save</button>
        <button href="javascript:window.close()">Cancel</button>
    </div>
</footer>

@code {
    [Parameter]
    public string Component { get; set; }



}
