@page "/shortcuts"
@using Components.Controllers;
@inject ShortcutGenerator ShortcutsController;

<h4>Change Shortcuts</h4>
<ul>
    @foreach (var command in commandList)
    {
        <li>
            <b>@command.Key</b>: @command.Value
            <input type="text" @bind-value="newValue"  />
            <button @onclick="@(e => ChangeShortcutHandller(command.Key))">Change</button>
        </li>
     }
</ul>

    @code {

        private Dictionary<string, string> commandList = new Dictionary<string, string>();
        private string newValue;

        protected override async Task OnInitializedAsync()
        {
            Console.WriteLine("Jsem zde 1");
            ShortcutsController.InitializeShortcutGenerator();
            commandList = await ShortcutsController.GetCurrentCommandListAsync();
        }

        private async Task ChangeShortcutHandller(string command)
        {
            if (!string.IsNullOrEmpty(newValue))
            {
                await ShortcutsController.ChangeShortcutAsync(command, newValue);
            }
            else
            {
                //TODO: toast errors
            }
        }
    }
