<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/editing">
                <span aria-hidden="true"></span> Editing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/newdocument">
                <span aria-hidden="true"></span> New Document
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/defaultdirectory">
                <span aria-hidden="true"></span> Default Directory
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/recentfileshistory">
                <span aria-hidden="true"></span> Recent Files History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/highlighting">
                <span aria-hidden="true"></span> Highlighting
            </NavLink>
        </li>
    </ul>
</div>

<component></component>

@code {
    bool collapseNavMenu = true;

    string component = "editing";

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OnSelectHandler(ChangeEventArgs args)
    {
        component = args.Value.ToString();
    }
}
