@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.main .top-row {
    position: sticky;
    top: 0;
}

.main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

.navbar-toggler { display: none; }

.sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

/*
 Disables the Electron :focus style.
*/
.glyphicon-button {
    padding: 0;
    color: black;
}

:focus,
:active:focus,
.active:focus,
.focus,
:active.focus,
.active.focus { outline: none !important; }

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus { outline: none !important; }

/*
    The text window.
*/
#text-box {
    width: 100%;
    height: calc(100vh - 90px);
    border: 1px black;
    padding: 12px;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 4px;
}

/*
    The panel that keeps open file tabs.
*/
#files-ribbon {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #e0e5e0;
    vertical-align: middle;
    overflow-x: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

#files-ribbon::-webkit-scrollbar {
    display: none;
}

/*
    Signals that a file tab is active - the one user is working with at the moment.
*/
.selected {
    border: none;
    color: #ffffff !important;
    background-color: #4CAF50 !important;
}

/*
    A file tab used for switching between open files, each tab represents a single file.
*/
.file-tab {
    height: 25px;
    margin-top: 5px;
    float: left;
    border: none;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    color: #000000;
    background-color: rgb(206, 209, 187);
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 4px;
}

.file-tab span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.file-tab span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.file-tab:hover span { padding-right: 25px; }

.file-tab:hover span:after {
    opacity: 1;
    right: 0;
}

.footer {
    height: 35px;
    border-top: 1px black;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    background-color: #e0e5e0;
}

.bContextMenu {
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .3), 0 0 0 1px #eee;
    padding: 5px 0;
    z-index: 90;
}


